version: 2.1

jobs:
  build-docker-images:
    docker:
      - image: cimg/base:current
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    steps:
      - checkout

      - setup_remote_docker:
          docker_layer_caching: true

      - run:
          name: Build Docker Images
          command: |
            docker build -f Dockerfile.initcontainer -t $DOCKERHUB_USERNAME/alpine-init-container:latest .
            docker build -f Dockerfile.maincontainer -t $DOCKERHUB_USERNAME/alpine-main-container:latest .

      - run:
          name: Push Docker Images
          command: |
            TAG=0.1.$CIRCLE_BUILD_NUM
            echo $DOCKERHUB_PASSWORD | docker login -u $DOCKERHUB_USERNAME --password-stdin

            # Tag images with build number
            docker tag $DOCKERHUB_USERNAME/alpine-init-container:latest $DOCKERHUB_USERNAME/alpine-init-container:$TAG
            docker tag $DOCKERHUB_USERNAME/alpine-main-container:latest $DOCKERHUB_USERNAME/alpine-main-container:$TAG

            # Push latest and versioned tags
            docker push $DOCKERHUB_USERNAME/alpine-init-container:latest
            docker push $DOCKERHUB_USERNAME/alpine-init-container:$TAG

            docker push $DOCKERHUB_USERNAME/alpine-main-container:latest
            docker push $DOCKERHUB_USERNAME/alpine-main-container:$TAG

workflows:
  version: 2
  build-and-push:
    jobs:
      - build-docker-images